@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #877E91;
    --branco: #56486B;
    --laranja: #F0D9FF;
    --azul-degrade: linear-gradient(97.54deg, #fcf8ff 35.49%, #fcf8ff 165.37%);
    --fonte-principal: "Poppins";
    --azul: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.botões__ancora {
    font-size: 12px; /* Ajuste o tamanho da fonte */
    padding: 4px 8px; /* Ajuste o preenchimento (espaçamento interno) */
    border: 1px solid var(--branco); /* Define uma borda se necessário */
    border-radius: 4px; /* Define bordas arredondadas, se necessário */
    text-decoration: none;
    color: var(--branco); /* Cor do texto */
    background-color: var(--azul-degrade); /* Cor de fundo */
}

.botões__ancora:hover {
    background-color: var(--laranja); /* Cor de fundo ao passar o mouse */
}
